<ng-template #content let-modal>
  <div class="custom-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Custom League Ladder</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="custom-league-name">Enter Custom League Name</label>
          <div class="input-group">         
            <input id="custom-league-name" ngbAutofocus type="text" class="form-control" [(ngModel)]="model"n name="model"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="create-league-modal-button" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create Ladder</button>    
  </div>
</div>
</ng-template>

<button class="btn text-body btn-info mx-auto" (click)="open(content)" id="create-custom-league-btn">
  Custom League Ladder
</button>

