.card {
    margin-top: 0px;
    border: 0;
    background-color: black;
}

.card-body {
  flex: 1 1 auto;
  padding: 10px;
}


.btn {
  background: #1C2F35;
  color: white;
}

.navbar-brand {
  color: white;
}

.btn {
  background-color: #1C2F35;
  border-color: #6c757d!important;
 }

 .text-body {
   color: #f2f5f9!important;
 }

 #leagueNameBtn {
  width: 10em;
 }

 .radio-inline {
  margin: 10px;
  margin-top: 0px;
}

input[type="radio"] {
  height: 17px;
  width: 17px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.col-sm {
  border: white 1px solid;
}


.col-sm-3 {
  margin-top: 1em;
  border: #1c2f35 3px solid;
  border-radius: 0.75rem;
}

#toggle {
  margin-bottom: 0px;
}

h6 {
  color: #1c2f35;
  padding-top: 1em;
}

.card {
  margin-top: 1em;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  border: 1px solid #1C2F35;
  border-radius: 0.75rem;

}

.container-fluid {
width: 70%;
}

#Top5LadderTitle {
  border-radius: 0.75rem;
}

.col-md-12 {
padding: 1em;
}

table {
background-color: black;
color: white;
}

thead {
background-color: #1C2F35;
color: white;
}

.card-header {
border-top-left-radius: 0.75rem;
border-top-right-radius: 0.75rem;
background-color: #1C2F35;
padding: 4px;
color: white;
}











