.card {
    margin-top: 0px;
    border: 0;
    background-color: black;
}

.card-body {
  flex: 1 1 auto;
  padding: 10px;
}


.btn {
  background: #1C2F35;
  color: white;
}

.navbar-brand {
  color: white;
}

.btn {
  background-color: #1C2F35;
  border-color: #6c757d!important;
 }

 .text-body {
   color: #f2f5f9!important;
 }

 #leagueNameBtn {
  width: 10em;
 }

 .radio-inline {
  margin: 15px;
}

input[type="radio"] {
  height: 17px;
  width: 17px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}








