<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <div class="row">
                <!-- Default dropright button -->
                <div class="btn-group dropright mx-auto">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Leaderboard
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="['/ladder-group-race']" routerLinkActive="active" >Race to 100</a>
                      <a class="dropdown-item" [routerLink]="['/ladder-group-delve']" routerLinkActive="active">Delve Depths</a>
                      <a class="dropdown-item" [routerLink]="['/ladder-group-uberlab']" routerLinkActive="active">Uber Lab Times</a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm">
            </div>
          </div>
    </div>
  </div>
