<div class="container-fluid">
    <div class="card mx-auto">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col">
              <div class="card" style="width:18%; margin:auto;">
                <div class="card-header text-center" id="TopTenLadderTitle">Top #5 Delve Depths</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center" id="table1CardTitle"></div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable
                      [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Website</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let entry of softcore">
                          <td>{{entry.rank}}</td>
                          <td>{{entry.character}}</td>
                          <td>{{entry.ascendancy}}</td>
                          <td>{{entry.depth}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center" id="table2CardTitle"></div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable
                      [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Website</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let entry of hardcore">
                          <td>{{entry.rank}}</td>
                          <td>{{entry.character}}</td>
                          <td>{{entry.ascendancy}}</td>
                          <td>{{entry.depth}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row"> </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center" id="table4CardTitle"></div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable
                      [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Character</th>
                          <th>Asc</th>
                          <th>Depth</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let entry of softcoreSsf">
                          <td>{{entry.rank}}</td>
                          <td>{{entry.character}}</td>
                          <td>{{entry.ascendancy}}</td>
                          <td>{{entry.depth}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center" id="table5CardTitle"></div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable
                      [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Website</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let entry of hardcoreSsf">
                          <td>{{entry.rank}}</td>
                          <td>{{entry.character}}</td>
                          <td>{{entry.ascendancy}}</td>
                          <td>{{entry.depth}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
