<div class="container-fluid">
    <!-- <div class="card mx-auto" id="parent-card"> -->
          <div class="row justify-content-center">
              <div class="col">
              </div>
            <div class="col-6">
              <div class="card mx-auto">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-md-auto">
                            {{delveLeaderboard[0].leaderboard}} : {{delveLeaderboard[0].league}}
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm float-right">Return to Top #5</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  <div *ngIf="displayTable">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                      <thead>
                        <tr>
                          <th *ngFor="let entry of tableColumns">{{entry.column}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let entry of delveLeaderboard">
                          <td>{{entry.rank}}</td>
                          <td>{{entry.account}}</td>
                          <td>{{entry.character}}</td>
                          <td>{{entry.ascendancy}}</td>
                          <td>{{entry.depth}} {{entry.level}} {{entry.time}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col">
              </div>
          </div>
        </div>

