<div class="container-fluid">
    <div class="row">

      <div class="col col-md mx-auto">
            <div *ngIf="displayTable">
              <div class="card mx-auto">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-auto">
                            {{delveLeaderboard[0].league}}
                        </div>
                        <div class="col text-right">
                            Last Updated : {{now | date:'medium'}} &nbsp; &nbsp; &nbsp; &nbsp; 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                      <thead>
                        <tr>
                          <th>&nbsp;#</th>
                          <th>&nbsp;</th>
                          <th>&nbsp;Account</th>
                          <th>&nbsp;Character</th>
                          <th></th>
                          <th>&nbsp;Ascendancy</th>
                          <ng-container *ngIf="delveLeaderboard[0].leaderboard === 'Top Race to 100'">     
                            <th>&nbsp;Level  </th>
                            <th>&nbsp;Level Progress </th>
                            <th>&nbsp;XP/PH </th>
                            <th>&nbsp;Experience </th>
                          </ng-container>
                          <th *ngIf="delveLeaderboard[0].leaderboard === 'Top Delve Depths'">&nbsp;Depth  </th>
                          <th *ngIf="delveLeaderboard[0].leaderboard === 'Top UberLab Times'">&nbsp;Time  </th>
                        </tr>
                      </thead>
                      <tbody>   
                        <ng-container >                      
                          <tr *ngFor="let entry of delveLeaderboard" [ngClass]="deadCharRowStyling(entry.dead)">
                            <td>{{entry.rank}}</td>
                            <td *ngIf="entry.rankDifference.includes('-')"><span class='arrow-down'></span>  ({{entry.rankDifference}})</td>
                            <td *ngIf="entry.rankDifference.includes('+')"><span class='arrow-up'></span>  ({{entry.rankDifference}})</td>
                            <td *ngIf="entry.rankDifference === '0'"></td> 
                            <td><img class="online-icon" src="assets/images/{{entry.online}}.png">&nbsp; {{entry.account}}</td>
                            <td>{{entry.character}} <i *ngIf="isDead(entry.dead)" id="isDead">(dead)</i></td>
                            <td><img class="logo" src="assets/ascendancy_images/{{entry.ascendancy}}.jpg"></td>
                            <td>{{entry.ascendancy}}</td>

                            <ng-container *ngIf="delveLeaderboard[0].leaderboard === 'Top Race to 100'">     
                              <td>&nbsp;{{entry.level}}</td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-dark" role="progressbar" [ngStyle]="{ 'width': entry.progress }"> </div>
                                </div>
                              </td>
                              <td [ngStyle]="{'color': getXpphFontColor(entry.experienceDifference)}">&nbsp;{{entry.experienceDifference}}</td>
                              <td>&nbsp;{{entry.experience}}</td>
                            </ng-container>

                            <td *ngIf="delveLeaderboard[0].leaderboard === 'Top Delve Depths'">&nbsp;{{entry.depth}}</td>
                            <td *ngIf="delveLeaderboard[0].leaderboard === 'Top UberLab Times'">&nbsp;{{entry.timeFormatted}}</td>
                          </tr>
                      </ng-container>
                      </tbody>
                    </table>
                  </div>
                <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


